/* Media queries */
@media (max-width: 1260px) {
  .social-media-icons img {
    width: 18px;
  }
}
@media (max-width: 1035px) {
  .project {
    width: 90%;
  }
}
@media (max-width: 970px) {
  #about-section {
    padding: 3.6rem;
  }
  .about-text {
    font-size: 1rem;
    line-height: 1.9;
  }
}

@media (max-width: 800px) {
  #home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .home-img {
    width: 30rem;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 2px #0000001b;
  }
  .avatar-img-container::after {
    width: 0;
  }
  .home-text-container {
    place-self: center;
    text-align: center;
  }
  .social-media-icons {
    place-self: center;
  }
  .logo {
    font-size: 1rem;
  }
  .nav-items {
    justify-content: space-between;
    margin: 0 0.8rem;
  }
  .nav-items div a {
    font-size: 0.9rem !important;
  }
  .home-text-container h1 {
    color: #868e96;
    font-size: 2.6rem;
  }
  #about-section {
    max-width: 85vw;
    padding: 3rem;
  }
  .tech-stack-text {
    font-size: 1.2rem;
  }
  .tech-stack-item img {
    width: 6rem;
  }
  .project {
    width: 80%;
    height: 28rem;
  }
  .project-desc {
    font-size: 1rem;
  }
  .project-learn-more-btn:is(:link, :visited) {
    width: 100%;
  }
}
@media (max-width: 710px) {
  .nav-items {
    margin: 0 2rem;
  }
  .nav-items div {
    display: none;
  }
  .contact-btn {
    display: none;
  }
  .menu {
    display: block;
    width: 2.5rem;
  }
  .home-text-container h1 {
    color: #868e96;
    font-size: 2.4rem;
  }
  .avatar-img-container img {
    width: 75%;
  }
  .class-level h2 {
    color: #fff;
    font-size: 1.6rem;
  }
  .arrow img {
    width: 60px;
  }
}
@media (max-width: 570px) {
  .aside-nav {
    width: 0;
    visibility: hidden;
  }
  .class-level h2 {
    color: #fff;
    font-size: 1.2rem;
  }
  .arrow img {
    width: 40px;
  }
  .desc {
    font-size: 0.8rem;
  }
  .tech-stack-item img {
    width: 4.8rem;
  }
  .projects-container {
    grid-template-columns: 15rem;
    place-items: center;
    max-width: 100%;
  }
  .project:last-child {
    grid-column: 1;
    place-self: center;
  }
  #education-section {
    padding: 2rem;
  }
  #projects-section {
    padding: 0 2rem;
  }
  .project {
    width: 100%;
    height: fit-content;
  }
  .project-imgs {
    flex-direction: column;
  }
  .project-img {
    width: 100%;
  }
  #map {
    height: 40rem;
    width: 95%;
  }
}
@media (max-width: 500px) {
  .form textarea {
    width: 18rem;
  }
}
@media (max-width: 460px) {
  .avatar-img-container img {
    width: 100%;
  }
  .home-text-container h1 {
    color: #868e96;
    font-size: 2rem;
  }
  #about-section {
    max-width: 90vw;
    padding: 0;
  }
  #home-section {
    margin: 6rem auto;
  }
  .education-container {
    padding: 1rem;
  }
  .class-level h2 {
    color: #fff;
    font-size: 1rem;
  }
  .arrow {
    width: 50px;
  }
  .desc {
    font-size: 0.7rem;
  }
  .tech-stack {
    margin: 0 auto;
    gap: 1rem;
  }
  .tech-stack-item {
    width: 80px;
    font-size: 0.8rem;
  }
  .tech-stack-item h4 {
    font-size: 0.6rem;
  }
  .tech-stack-img {
    width: 48px;
  }
}
@media (max-width: 380px) {
  .home-text-container h1 {
    color: #868e96;
    font-size: 1.6rem;
  }
  .social-media-icon {
    width: 1.4rem;
  }
  .about-text {
    font-size: 0.8rem;
  }
  .tech-stack-item {
    width: 75px;
    font-size: 0.8rem;
  }
  .tech-stack-item h4 {
    font-size: 0.5rem;
  }
  .tech-stack-img {
    width: 48px !important;
  }

  #education-section {
    width: 100%;
  }
  .class-level h2 {
    color: #fff;
    font-size: 0.8rem;
  }
  .arrow {
    width: 40px;
  }
  .desc {
    font-size: 0.6rem;
  }
}
@media (max-width: 330px) {
  .university li {
    font-size: 0.54rem;
  }
  .tech-stack-item {
    width: 65px;
    font-size: 0.8rem;
  }
  .tech-stack-item h4 {
    font-size: 0.4rem;
  }
  .tech-stack-img {
    width: 40px;
  }
  .form textarea {
    width: 16rem;
  }
}
