@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid; */
}
html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  font-size: 12px;
}

.back-to-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #1589ef;
  padding: 4px 8px;
  border-radius: 50%;
  color: #fff;
  transition: opacity 0.3s ease-in;
  opacity: 1;
}
/* Aside navigation */
.aside-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  position: fixed;
  width: 7rem;
  height: 100vh;
  background-color: #1589ef;

  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.aside-nav h1 {
  position: fixed;
  top: 1.2rem;
  color: #fff;
  font-size: 2rem;
}
.aside-nav svg {
  width: 3.6rem;
  color: #fff;
}
.aside.hidden {
  width: 0;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.header {
  height: 100%;
  margin: 0rem 0 9rem 0;
}
/* Navigation */
.nav {
  height: 4rem;
}

.nav-items {
  list-style: none;

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 100%;
}
.logo {
  font-size: 1.6rem;
  color: #228be6;
}
.nav-items a:link,
.nav-items a:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #000;
  transition: all 0.3s;
}
.nav-item {
  position: relative;
}
.nav-item div {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;

  height: 0.2rem;
  width: 100%;

  background-color: #1589ef;

  transition: all 0.3s;
}
.link-underline.hidden {
  visibility: hidden;
  pointer-events: none;
  width: 0;
}

.nav-item a:hover {
  color: #1589ef;
}
.contact-btn:link,
.contact-btn:visited {
  padding: 0.4rem 0.8rem;
  border: 2px solid #228be6;
  color: #fff !important;
  background-color: #228be6;
  border-radius: 10px;
}
.contact-btn:hover {
  border: 2px solid #228be6;
  color: #228be6 !important;
  background-color: #fff;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-weight: 600;

  /* height: 100%; */
}
.menu {
  display: none;
}

/* *************************** */

/* Home section */
#home-section {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 0 5rem;

  max-width: 75vw;
  margin: 9rem auto;
}
.avatar-img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-img-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 90%;
  padding-bottom: 90%;
  border-radius: 50%;

  background-color: #228be63d;
  transform: translate(-50%, -50%);
}
.home-text-container {
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-text-container h1 {
  font-weight: 600;
  color: #868e96;
  /* font-size: 4rem; */
  font-size: clamp(2rem, 5vw, 4.5rem);
}

.home-text-container h1:last-child {
  color: #228be6;
}
.home-img {
  width: 75%;
  border-radius: 50%;
  z-index: 10;
}
.social-media-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  grid-column: 2;
  place-self: start;
}
.social-media-icon {
  width: 1.9rem;
}

/* ************************ */
/* About section */
#about-section {
  max-width: 75vw;
  margin: 9rem auto 9rem;
  padding: 6rem;
}
.about-text-container {
  margin: 0 auto;
}
.about-title {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 2rem;
  color: #1589ef;
}
.about-title::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  display: block;
  height: 0.2rem;
  width: 20%;
  color: #000;
  background-color: #1589ef;
}
.about-text {
  font-size: 1rem;
  line-height: 2;
  margin-bottom: 1rem;
  color: #495057;
}
.tech-stack-text {
  margin: 2rem 0;
  font-size: 2rem;
}

.tech-stack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 3rem 1rem;
}
.tech-stack-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 1px 3px 4px 3px #00000016;
  border-radius: 5px;
  transition: all 0.3s;
}
.tech-stack-item:hover {
  transform: scale(1.2);
}
.tech-stack-item h4 {
  color: #868e96;
}
.tech-stack-item img {
  width: 6rem;
}
/* ************** */

/* Eduaction section */
#education-section {
  background-color: #1a1a1d;
  max-width: 100vw;
  margin: 7rem 0;
  padding: 2rem 2rem 2rem 8rem;
  color: #fff;
  /* padding: 2rem; */
}

.education-container {
  /* background-color: #fff; */
  padding: 3rem;
  max-width: 40rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.class-level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrow {
  grid-column: span 2;
  place-self: center;
}
.arrow {
  width: 2rem;
}
.kg {
  grid-column: 2;
  place-self: end;
}
.elementary {
  grid-column: 1;
  place-self: start;
}

.highschool {
  place-self: start;
  grid-column: 2;
  place-self: end;
}
.university {
  place-self: start;
}
.desc {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.9;
}
.class-level h2 {
  color: #fff;
  font-size: 2rem;
}

/* Projects section */

#projects-section {
  margin: 7rem 0;
  padding: 0 2rem 2rem 8rem;
}
.projects-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1rem 3rem;
  width: 100%;
  margin: 0 auto;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 24rem;
  border-radius: 10px;
  padding-bottom: 4rem;
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.134);
  transition: transform 0.3s;
}

.project:hover {
  transform: rotate(10deg);
}
.project:nth-child(even):hover {
  transform: scale(1.1);
}
.project-img {
  max-width: 100%;
  border-radius: 10px;
}
.project-desc {
  max-width: 90%;
  text-align: center;
  font-size: clamp(0.7rem, 100%, 1rem);
}
/* ************** */

/* Form section */

#contact-section {
  max-width: 100vw;
  margin: 6rem auto 0;
  background-color: #228be6;
  padding: 2rem 0 6rem;
  color: #fff;
}
.contact-container {
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.get-in-touch {
  text-align: center;
  margin-bottom: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form input,
.form textarea {
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: #495057;
}
.form input {
  height: 2.6rem;
  padding: 0 1rem;
  width: 100%;
}
.form textarea {
  width: 30rem;
  height: 6rem;
  padding: 1rem;
}
.form label {
  font-size: 1.2rem;
}
input:focus,
textarea:focus {
  outline: none !important;
}
.submit-btn {
  background-color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s;
}
.submit-btn:hover {
  outline: 1px solid #fff;
  background-color: #228be6db;
  color: #fff;
}

/* ******************** */
/* Footet */

.footer {
  color: #fff;
  background-color: #228be6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.6rem;
}

/* ****** */
